{% load static %}
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: lightskyblue">
  <div class="container"> 
    <a class="navbar-brand" href={% url 'posts:index'%}>
      <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
      <span style="color:red">Ya</span>tube
    </a>
    <div class="navbar-header">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>  
    <div class="collapse navbar-collapse" id="navbar-main">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == "about:author" %}active{% endif %}" href="{% url "about:author"  %}">
          Об авторе
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == "about:tech" %}active{% endif %}" href="{% url "about:tech"  %}">
          Технологии
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == "about:tech" %}active{% endif %}" href="{% url "posts:post_create"  %}">
          Новая запись
          </a>
        </li>
        <li class="nav-item{% if view_name  == "users:password_change" %}active{% endif %}"> 
          <a class="nav-link link-light" href="{% url "users:password_change"  %}">
          Изменить пароль
          </a>
        </li>
        <li class="nav-item {% if view_name  == "users:logout" %}active{% endif %}"> 
          <a class="nav-link link-light" href="{% url "users:logout"  %}">
            Выйти
          </a>
        </li>
        <li>
          Пользователь: <a href="{% url "posts:profile" user.username %}">{{ user.username }}</a>
        </li>
        {% else %}
        <li class="nav-item {% if view_name  == "users:login" %}active{% endif %}"> 
          <a class="nav-link link-light" href="{% url "users:login"  %}">
          Войти
          </a>
        </li>
        <li class="nav-item {% if view_name  == "users:signup" %}active{% endif %}"> 
          <a class="nav-link link-light" href="{% url "users:signup"  %}">
          Регистрация
          </a>
        </li>
        {% endif %}
      </ul>
      {% endwith %}
    </div>
  </div>
</nav>      