{% extends 'base.html' %}
  {% block title %}
    {{ author.get_full_name }}
  {% endblock %}
  {% block content %}
    <div class="container mb-5 py-5">
      <h1>Все посты пользователя: {{ author.get_full_name }}</h1>
      <h3>Всего постов: {{ page_obj.paginator.count }} </h3>
      {% if request.user != author %}
        {% if following %}
          <a
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}
      {% endif %}
      {% for post in page_obj %}
        {% include 'posts/includes/post_form.html' %}
      {% endfor %}
    </div>
    {% include 'posts/includes/paginator.html' %}
  {% endblock %}   