{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Изменить пароль
          </div>
          <div class="card-body">
            {% include 'includes/error_block.html' %}
            <form method="post"
            {% if action_url %}
              action="{% url action_url %}"
            {% endif %}
            >
            {% csrf_token %}
            {% include 'includes/common_form.html' %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Изменить пароль
              </button>
            </div>
            </form>
          </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}